<section>
{{#if loggedIn}}
    <h2>
Create New Content
</h2>


   <form class="new-content-form">
<div>
    <label for="text-title">Title:</label>
    <input type="text" id="text-title" name="text-title" />
</div>
<div>
<label for="content-body">Content</label>
<input id="content-body" name="content-body" />
</div>
{{/if}}
</form>
</section>

 {{#if loggedIn}}
    <script src="/javascript/adding.js"></script>
    {{/if}}