<div class="news">
    {{#each text.blogs}}
    <section class="newer">
        <div class="more">
            {{text.title}} 
        </div>
        <div class="additions">
            {{content}}
        </div>
    </section>

{{/each}}
</div>


