<div class="blogs">
    {{#each this}}
<article class="border">
    <div class="Blogs">
      Posted by {{login.username}} on  {{format_date created_at}}
    </div>
    <div class="info">
        {{content}}
    </div>
</article>
 {{/each}}
</div>