<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Up To Tech</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>Your Dashboard</h1>
            </header>
            <nav>
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn">logout</button>         
                <a href="/login">Login</a>

            </nav>
            <main>
                {{{body}}}
            </main>
            <footer>
                See you next time!
            </footer>
        </div>
        <script src="/javascript/logout.js"></script>
    </body>

</html>