<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Up To Tech</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div class="wrapper">
            <header>   
                 {{#if loggedIn }}    
            
               <h1> Your Dashboard </h1>  
                 {{else}} 

                  <h1> Up To Tech</h1>
                   {{/if}}
                </header>    
            <nav>               
                 <a href="/">Home</a>
                 {{#if loggedIn}}
                
                 <a href="/"></a>
                 <a href="/dashboard">Dashboard</a>  
                <button id="logout" class="btn">logout</button>   
                   
                {{else}} 
                
                <a href="/dashboard">Dashboard</a>    
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
                <a href="/signup"></a>
               
                {{/if}}

            </nav>
            <main>
                {{{body}}}


            </main>
            <footer>
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </body>

</html>