
{{#if text.length}}
<section>
  
    <ol>
        {{#each text as |text|}}
        <li>
            
            <a href="/dashboard/edit/{{text.id}}" class="update-content">{{> text text}}</a>
        </li>
        {{/each}}
    </ol>
    {{/if}}
</section>

  <div>
     
  <section>
 
  {{#if loggedIn}}
  <form>
         <button type="submit" class="text-submit"> + New Post</button>
         <a href = "/public/javascript/adding.js"></a>
             {{/if}}
    </form>
</section>
            
    {{#if loggedIn}}
    <script src="/javascript/adding.js"></script>
    <script src="/javascript/update.js"></script>
    <script src="/javascript/blogs.js"></script>
    {{/if}}

