{{#if text.length}}
<section>
  
    <ol>
        {{#each text as |text|}}
        <li>
            <a href="/dashboard/edit/{{text.id}}" class="update-content"></a>
        </li>
                <li class="explain">   {{content}}<li>

        {{/each}}
    </ol>
    {{/if}}
</section>

 <div>
     




<article>
        


    <form class="new-content">
        <div>
            <label for="text-title">Title:</label>
            <input name="text-title" type="text" value="{{text.title}}" />
        </div>
        <div>
            <label for="content-body">Content</label>
            <input name="content-body" type="text" value="{{content}}" />
        </div>
        <a href="/text/" class="new-content"></a>
            <button type="submit" class="new">save</button>
    </form>
</article>

  {{#if loggedIn}}
    <script src="/javascript/adding.js"></script>
   
    {{/if}}
