{{#if text.length}}
<section class="dash">
  
    <ol class="update-list"></ol>
        {{#each text as |text|}}
        <li>
            
            <a href="/dashboard/edit/{{id}}" class="update-content">{{> text text}}</a>
        </li>
        <li class="explain">{{blogs.content}}</li>
        {{/each}}
    </ol>
    {{/if}}
</section>

  <div>
     
  <section>
 
    </form>
</section>
        
    

<article class="newest">
    <form class="new-content">
        <div>
            <label for="text-title">Title:</label>
            <input name="text-title" type="text" value="{{title}}" />
        </div>
        <div>
            <label for="content-body">Content</label>
            <input name="content-body" type="text" value="{{content}}" />
        </div>
            <button type="submit" class="new">save</button>
    </form>
</article>

  {{#if loggedIn}}
<script src="/javascript/adding.js"></script>
<script src="/javascript/delete.js"></script>
<script src="/javascript/update.js"></script>
<script src="/javascript/blogs.js"></script>
    {{/if}}

