
{{#if text.length}}
<section>
    <ol class="text-list"></ol>
        {{#each text as |text|}}
        <li>
            <a href="/text/{{text.id}}" class="blogs">{{> text text}}</a>
        </li>
        <li class="explain">   {{blogs.content}}<li>
        {{/each}}
    </ol>
    {{/if}}
</section>

  <div>

{{#if loggedIn}}
<script src="/javascript/blogs.js"></script>
<script src="/javascript/adding.js"></script>
{{/if}}