
{{#if text.length}}
<section>
    <ol class="text-list"></ol>
        {{#each text as |text|}}
        <li>
            <a href="/text/{{text.id}}" class="blogs">{{> text text}}</a>
        </li>
        <li class="explain">   {{blogs.content}}<li>
        {{/each}}
    </ol>
    {{/if}}
    {{content}}
</section>

  <div>


{{#if loggedIn}}
        
      {{> blogs text.blogs}}
  <article>
    
<form class="blogs-form">
    
    <div>

</form>
</article>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/blogs.js"></script>
{{/if}}


