<ol class="text-list">
    {{#each text as |text|}}
    <li>
       {{> text text}}
    </li>
    {{/each}}
</ol>

   <div>
       {{#if loggedIn}}
         <button type="submit" class="text-submit"> + New Post</button>
         {{/if}}
    </div>

    {{#if loggedIn}}
    <script src="/javascript/adding.js"></script>
    <script src="/javascript/blogs.js"></script>
    {{/if}}