{{#if loggedIn}}
        
      {{> blogs text.blogs}}
  <article>
    
<form class="blogs-form">
    
    <div>
        <h3>Comment:</h3>
        <textarea name="blogs-body" class="blogs-body"></textarea>
    </div>
    
        <button type="submit" class="add-comment">add comment</button>
</form>
</article>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/blogs.js"></script>
{{/if}}


