


<article>
    <a href="/dashboard/text/`${id}`"></a>
    <h2>
        Edit Post
    </h2>
    <form class="update-text-form">
        <div>
            <h3>Title:</h3>
            <input name="text-title" type="text" value="{{text.title}}" />
        </div>
        <div>
            <h3>Content</h3>
            <input name="content" type="text" value="{{blogs.content}}" />
        </div>
    
        <button type="submit" class="save-update">Update Post</button>
        <button type="button" class="delete">Delete</button>
    
    </form>
</article>



<script src="/javascript/delete.js"></script>
<script src="/javascript/update.js"></script>
<script src="/javascript/blogs.js"></script>


