* {
    margin: 0;
    padding: 0;
    background-color: rgb(148, 209, 148);
}

h1 {
    margin-top: 15px;
    background-color: rgb(148, 209, 148);
    position: sticky;
    top: 0;
    border: 3px solid rgb(63, 48, 48);
    border-radius: 12px;
    padding: 5px;
    width: 200px;
    box-shadow: 5px 5px;

}

h3 {
    color: black;
}
nav  {
    background-color: rgb(63, 48, 48);
    position: sticky;
    top: 0;
    margin-top: -200px;
    word-spacing: 50px;
    color:rgb(148, 209, 148)

}

nav a  {
    background-color: rgb(63, 48, 48);
    position: sticky;
    top: 0;
    margin-top: -200px;
    word-spacing: 50px;
    color:rgb(148, 209, 148)

}

header {
    background-color: rgb(63, 48, 48);
    position: sticky;
    top: 0;
}

main {
    margin-top: 300px;

}

footer {
    margin-top: 100px;
   
}

h2 {
    background-color: rgb(63, 48, 48);
    color: rgb(148, 209, 148);
}

.login-form {
    border: 5px rgb(63, 48, 48) solid;
    margin: 50px;
    padding: 0;
}

#username-login {
    width: 95%;
    background-color: white;
}

#password-login {
    width: 95%;
    background-color: white;
}

.login-submit {
    width: 95%;
    background-color: rgb(63, 48, 48);
    color: rgb(148, 209, 148);
}

.signup-form {
    border: 5px rgb(63, 48, 48) solid;
    margin: 50px;
    padding: 0;
}

#username-signup {
    width: 95%;
    background-color: white;
}

#password-signup {
    width: 95%;
    background-color: white;
}

.signup-submit {
    width: 95%;
    background-color: rgb(63, 48, 48);
    color: rgb(148, 209, 148);
}

.text-submit {
    background-color: rgb(63, 48, 48);
    color: white;
    width: 10%;
    margin-left: 550px;
    margin-top: 150px;
    
    
}

.text {
    background-color: rgb(63, 48, 48);
    word-spacing: 500px;
    border: 3px solid rgb(63, 48, 48);
    padding: 5px;
    box-shadow: 5px 5px;
    margin-top: 25px;
    color: white;
    width: 80%;
    margin-left: 75px;

}

.title {
    background-color: rgb(63, 48, 48);
    color: white;
    border: 2px solid rgb(63, 48, 48);
    margin-top: -50px;
    
}

.save-update {
    background-color: rgb(63, 48, 48);
    width: 80%;
}

.update-text-form {
    word-spacing: 500px;
    padding: 5px;
    margin-top: 25px;
    color: white;
    width: 80%;
    margin-left: 75px;
}

a {
    background-color: rgb(63, 48, 48);
    color: white;
    text-decoration: none;
}

.blogs-form {
    margin: 50px;
    padding: 0;
    margin: 0px;
}

.add-comment {
    background-color: rgb(63, 48, 48);
    color: white;
    width: 80%;
    margin-left: 50px;
    margin-top: 60px;
    
    
}

.blogs-body {
    margin-top: 50px;
    margin-left: 50px;
    width: 80%;
    height: 50%;
}

.Blogs {
    background-color: rgb(63, 48, 48);
    color:rgb(148, 209, 148);
    word-spacing: 20px;

}

.blogs {
    margin-left: 40px;

}
.info {
    margin-left: 10px;
}

.border {
    border: 2px solid rgb(63, 48, 48);
    margin: 50px;
    margin-top: -10px;
}

#text {
    margin-left: -50px;
    text-decoration: none;
    margin-top: -50px;
}


.delete {
    background-color: rgb(63, 48, 48);
    width: 95%;
}

.save-update {
    width: 95%;
}

article {
    border: 4px solid rgb(63, 48, 48);
    color:rgb(148, 209, 148);
    text-decoration: none;
    width: 80%;
    margin-left: 75px;

}

.explain {
    border: 2px rgb(63, 48, 48) solid;
    width: 81%;
    height: 50px;
    margin-left: 74px;
    text-decoration: none;
}

li {
    list-style-type: none;

}

ol {
    list-style-type: none;
}

textarea.blog-body {
    height: 50%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

textarea {
    width: 300px;
    height: 150px;
}

div.info {
    color: black;
}

.new-content {
        word-spacing: 500px;
        padding: 5px;
        margin-top: 25px;
        color: white;
        width: 80%;
        margin-left: 75px;
}

.new-post {
    margin-top: 100px;
}

.title {
    margin-top: 20px;
}

.dash {
    margin-top: -20px;
}

.newest {
    margin-top: 20px;
}